<!-- Sessão Ferramentas -->
<div class="jumbotron">
    <h1 class="display-4">Ferramentas</h1>
    <p class="lead">As ferramentas tem o objetivo de auxiliar nos processos de gerenciamento do projeto</p>
</div>
  
<div *ngFor="let ferramenta of ferramentas">
    <div class="container">
            <div class="media">
                <img class="mr-3" [src]="ferramenta.img" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">{{ferramenta.type}}</h5>
                    <p>{{ferramenta.describe}}</p>
                </div>
            </div>
        </div>
    <br/><br/><br/>
</div>