<!-- Sessão Ferramentas -->
<div class="jumbotron">
  <h1 class="display-4">Estratégias</h1>
  <p class="lead">As estratégias são abordadas durante os processos para se alcançar um bom nível de segurança para a entrega do projeto, a equipe deve definir a utilização das técnicas de acordo com o risco envolvido no projeto. </p>
  <hr class="my-4">
  <p>As estratégias levam em consideração custos financeiros, bem estar dos colaboradores e congruência do produto.</p>
</div>

<div *ngFor="let estrategia of estrategias">
    <div class="container">
            <div class="media">
                <img class="mr-3" [src]="estrategia.img" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">{{estrategia.type}}</h5>
                    <p>{{estrategia.describe}}</p>
                </div>
            </div>
        </div>
    <br/><br/><br/>
</div>