<!-- Sessão Processos -->

<div class="jumbotron">
    <h1 class="display-4">Processos</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>Para que o projeto seja adequado a esta metodologia é necessário que haja uma ou mais entregas.
    Se for constatado que em apenas uma entrega é possível realizar o projeto, este projeto não é grande o suficiente para a aplicação dos conceitos do Crystal Clear.</p>
</div>

<div>
    <!--Imagem do Ciclo de vida com numerações-->
</div>

<div *ngFor="let processo of processos">
    <div class="container">
            <div class="media">
                <img class="mr-3" [src]="processo.img" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">{{processo.type}}</h5>
                    <p>{{processo.describe}}</p>
                </div>
            </div>
        </div>
    <br/><br/><br/>
</div>