<!-- Sessão Papéis -->
<div class="jumbotron">
    <h1 class="display-4">Papéis</h1>
    <p class="lead">Explicar papéis obrigatórios e papéis rotativos e etc</p>
    <hr class="my-4">
    <p>Time como um todo deve realizar os workshops e reflexões.</p>
</div>

<div *ngFor="let papel of papeis">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="papel.img" alt="Card image cap" style="width: 50%">
        <div class="card-body">
          <h5 class="card-title">{{papel.type}}</h5>
          <p class="card-text">{{papel.describe}}</p>
        </div>
    </div>
</div>