<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Família Crystal
  </h1>
</div>

<!-- Sessão Família Crystal -->
<h2>
  Família
</h2>
<div *ngFor="let crystal of crystals">
  <button>
    {{crystal.name}}
  </button>
</div>

<!-- Sessão Processos -->
<h2>
  Processos
</h2>
<div *ngFor="let processo of processos">
  <h5>
    {{processo.type}}
  </h5>
  <p>
    {{processo.describe}}
  </p>
</div>

<!-- Sessão Papéis -->
<h2>
  Papéis
</h2>
<div *ngFor="let papel of papeis">
  <p>
    {{papel.type}}
    {{papel.describe}}
  </p>
</div>

<!-- Sessão Ferramentas -->
<h2>
  Ferramentas
</h2>
<div *ngFor="let ferramenta of ferramentas">
  <p>
    {{ferramenta.type}}
    {{ferramenta.describe}}
  </p>
</div>

<!-- Sessão Documentações -->
<h2>
  Documentações
</h2>
<div *ngFor="let documento of documentos">
  <p>
    {{documento.type}}
    {{documento.describe}}
  </p>
</div>

<i class="fas fa-user"></i>
