<!-- Sessão Família Crystal -->
<div class="jumbotron">
    <h1 class="display-4">Família Crystal</h1>
    <p class="lead">A família Crystal é um conjunto de metodologias ágeis com uma mesma estrutura base, porém com particularidades diferenciadas de acordo com os riscos envolvidos, prazo e quantidade de pessoas presentes no projeto.</p>
</div>

<div>
    <div class="container">
        <p>A imagem apresentada a seguir apresenta as metodologias que compõem a família de metodologias Crystal, demonstrando o número de pessoas envolvidas no projeto e o risco envolvido.</p>
        <div class="row justify-content-md-center">
            <img class="mr-3" src="../../assets/img/familia/familia.png" alt="Generic placeholder image" style="width:40%; height:40%">
        </div>
        <br/><br/>
        <p>A imagem apresentada a seguir apresenta o ciclo de vida base da família de metodologias Crystal</p>
        <div class="row justify-content-md-center">
            <img class="mr-3" src="../../assets/img/familia/ciclodevida.png" alt="Generic placeholder image" style="width:40%; height: 40%">
        </div>
    </div>
</div>
<br/><br/><br/><br/><br/>
<p>As metodologias e suas particularidades:</p>
<div *ngFor="let crystal of crystals">
    <div class="container">
            <div class="media">
                <img class="mr-3" [src]="crystal.img" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">{{crystal.type}}</h5>
                    <h4>{{crystal.name}}</h4>
                    <p>{{crystal.describe}}</p>
                </div>
            </div>
        </div>
    <br/><br/><br/>
</div>