<!-- Sessão Família Crystal -->
<div class="jumbotron">
    <h1 class="display-4">Família Crystal</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>
  
<div *ngFor="let crystal of crystals">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="crystal.img" alt="Card image cap" style="width:50%">
      <div class="card-body">
        <h5 class="card-title">{{crystal.name}}</h5>
        <p>{{crystal.describe}}</p>
      </div>
  </div>
</div>