<!-- Sessão Família Crystal -->
<div class="jumbotron">
    <h1 class="display-4">Família Crystal</h1>
    <p class="lead">A família Crystal é um conjunto de metodologias ágeis com uma mesma estrutura base, porém com particularidades diferenciadas de acordo com os riscos envolvidos, prazo e quantidade de pessoas presentes no projeto.</p>
</div>

<div>
    <div class="container">
        <h2>Metodologias</h2>
        <p>A imagem apresentada a seguir apresenta as metodologias que compõem a família de metodologias Crystal, demonstrando o número de pessoas envolvidas no projeto e o risco envolvido.</p>
        <div class="row justify-content-md-center">
            <img class="mr-3" src="../../assets/img/familia/familia.png" alt="Generic placeholder image" style="width:40%; height:40%">
        </div>
        <br/><br/>
        <h2>Ciclo de Vida Crystal</h2>
        <div class="row justify-content-md-center">
            <img class="mr-3" src="../../assets/img/familia/ciclodevida.png" alt="Generic placeholder image" style="width:40%; height: 40%">
           
        </div>
        <br/><br/>
        <p>Staging: No português literal, encenação, é a fase de seleção de requisitos e prazos finais para a entrega</p>
        <p>Edição e Revisão: Nesta etapa são avaliados os requisitos coletados, e são realizadas as edições e as documentações de artefatos que serão adotadas para o desenvolvimento do projeto, além disso é realizada a revisão destes artefatos</p>
        <p>Monitoramento: Realização de monitoria do progresso do projeto</p>
        <p>Paralelismo e Fluxo: Verificar se existem fluxos que podem ser executados em paralelo, identificando ainda requisitos que dependem diretamente do funcionamento de um requisito anterior para o início de seu desenvolvimento, definindo o fluxo de trabalho de acordo com as necessidades do projeto</p>
        <p>Inspeções de usuários: Trata-se da revisão realizada pelo usuário, pode ser entendida como uma análise crítica ao projeto</p>
        <p>Workshop: Reunião de cunho analítico, busca-se a visão do andamento do projeto, baseando-se no monitoramento e na inspeção do usuário</p>
    </div>
</div>
<br/><br/>
<div class="container">
    <h2>Particularidades das Metodologias</h2>
</div>
<br/><br/>
<div *ngFor="let crystal of crystals">
    <div class="container">
            <div class="media">
                <img class="mr-3" [src]="crystal.img" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0">{{crystal.type}}</h5>
                    <h4>{{crystal.name}}</h4>
                    <p>{{crystal.describe}}</p>
                </div>
            </div>
        </div>
    <br/><br/><br/>
</div>