<br/>
<div class="container">
<section class="banner" role="banner"> 
  <div class="container">
    <div class="banner-inner-wrapper">
      <div class="banner-text">
        <h1>Tutorial Crystal Clear</h1>
          <p>Essa página tem o objetivo de apresentar a metodologia Crystal Clear, seus processos, estratégias e ciclos. O conteúdo apresentado neste tutorial é um resumo do livro "Crystal Clear: A Human-Powered Methodology for Small Teams", de Alistair Cockburn, pai das metodologias Crystal.</p>
      </div>
    </div>
  </div>
</section>
<br/><br/>
<section id="introduction" class="section introduction">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-6">
          <div class="intro-content">
              <img src="../../assets/img/familia/clear.png">
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="intro-content">
              <a class="nav-link" href="/familia"><button type="button" class="btn btn-outline-info" style="width: 100%">Família</button></a>
              <a class="nav-link" href="/estrategias"><button type="button" class="btn btn-outline-info" style="width: 100%">Estratégias</button></a>
              <a class="nav-link" href="/processos"><button type="button" class="btn btn-outline-info" style="width: 100%">Processos</button></a>
              <a class="nav-link" href="/ferramentas"><button type="button" class="btn btn-outline-info" style="width: 100%">Ferramentas</button></a>
              <a class="nav-link" href="/documentacoes"><button type="button" class="btn btn-outline-info" style="width: 100%">Documentações</button></a>
              <a class="nav-link" href="/papeis"><button type="button" class="btn btn-outline-info" style="width: 100%">Papéis</button></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="intro-content">
            <h4>Metodologia indicada para:</h4>
            <ul>
              <li>Times pequenos</li>
              <li>Projetos que envolvam a participação de um especialista de domínio ou usuário expert.</li>
              <li>Equipes que necessitam de melhorias em sua comunicação</li>
              <li>Projetos com níveis de complexidade média a alta</li>
              <li>Projetos que tenham mais de uma entrega prevista </li>
              <li>Equipes que precisam de previsões de custos</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>